apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingress
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Gloziksoft/git_ops-K8-config.git
    targetRevision: main
    path: infra/ingress
  destination:
    server: https://kubernetes.default.svc
    namespace: insurance-app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
