# git_ops-K8-config/overlays/local/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Odvolanie sa na oba základné priečinky
resources:
- ../../base/insurance-app
- ../../base/booking-app

# Generovanie ConfigMap pre MetalLB (lokálny LoadBalancer)
configMapGenerator:
- name: metallb-config
  files:
  - metallb-pool.yaml

# Aplikácia zmien pre lokálne prostredie
patches:
# Patch pre Service App1 (NodePort)
- path: patches/app1-service-patch.yaml
  target:
    kind: Service
    name: insurance-app-service

# Patch pre Service App2 (NodePort)
- path: patches/app2-service-patch.yaml
  target:
    kind: Service
    name: booking-app-service
