apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base/booking-app

images:
  - name: bookingapp           # Musí sedieť s 'image:' v base/deployment.yaml
    newName: ghcr.io/gloziksoft/booking-app # Tvoj skutočný GHCR image
    newTag: latest

patches:
  - path: service-patch.yaml
    target:
      kind: Service
      name: booking-app-service

  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: booking-app-deployment # Musí presne sedieť s názvom v base!
